
  .spinner-loader {
    position: fixed;
    
    min-height: 100vh;
    height: 100%;
    z-index: 100;
    width: 100%;
    top: 0px;
    background: rgb(255,255,255,0.4);
    transition-property: background-color;
    transition-duration: 2s;
  }

.wrap1{
  position: fixed;
    left: 50%;
    width: 5em;
    height: 5em;
    top: 44%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.loader{
  
    transition: all 0.7s ease-in-out;

  border:10px solid #ebebeb;
  border-bottom-color:#26B8BF;
  width:75%;
  height:75%;
  border-radius:50%;
  -webkit-font-smoothing: antialiased !important;
  margin: 30px 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#lrd1{
    -webkit-animation: spin1 0.5s linear infinite;

}


@keyframes spin1{
  0% {
    transform: rotate(0deg);    
  }


  100% {
    transform: rotate(360deg); 
  }

}






  .wrap {
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 191px;
    text-align: center;
  }
  .wrap button {
    display: block;
    height: 60px;
    padding: 0;
    width: 191px;
    background: none;
    margin: auto;
    border: 2px solid #1ECD97;
    font-size: 18px;
    /* font-family: "Lato"; */
    color: #1ECD97;
    cursor: pointer;
    outline: none;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    -o-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    -webkit-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
    transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s;
  }
  .wrap button:hover {
    background: #1ECD97;
    color: white;
  }
  .wrap img {
    position: absolute;
    top: 11px;
    display: none;
    left: 71.5px;
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
  .wrap svg {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    /* @include rotate(270deg); */
    position: absolute;
    top: -2px;
    left: 62px;
    display: none;
  }
  .wrap svg .circle_2 {
    stroke-dasharray: 0 200;
  }
  .wrap svg .fill_circle {
    -moz-animation: fill-stroke 2s 0.4s linear forwards;
    -webkit-animation: fill-stroke 2s 0.4s linear forwards;
    animation: fill-stroke 2s 0.4s linear forwards;
  }
  .wrap .circle {
    width: 60px;
    border: 3px solid #c3c3c3;
    /* border: none; */
  }
  .wrap .circle:hover {
    background: none;
  }
  .wrap .filled {
    background: #1ECD97;
    color: white;
    line-height: 60px;
    font-size: 160%;
  }

  footer p {
    color: #738087;
    margin-top: 100px;
    font-size: 18px;
    line-height: 28px;
  }

  @-moz-keyframes fill-stroke {
    0% {
      stroke-dasharray: 0 200;
    }
    20% {
      stroke-dasharray: 20 200;
    }
    40% {
      stroke-dasharray: 30 200;
    }
    50% {
      stroke-dasharray: 90 200;
    }
    70% {
      stroke-dasharray: 120 200;
    }
    90% {
      stroke-dasharray: 140 200;
    }
    100% {
      stroke-dasharray: 182 200;
    }
  }
  @-webkit-keyframes fill-stroke {
    0% {
      stroke-dasharray: 0 200;
    }
    20% {
      stroke-dasharray: 20 200;
    }
    40% {
      stroke-dasharray: 30 200;
    }
    50% {
      stroke-dasharray: 90 200;
    }
    70% {
      stroke-dasharray: 120 200;
    }
    90% {
      stroke-dasharray: 140 200;
    }
    100% {
      stroke-dasharray: 182 200;
    }
  }
  @keyframes fill-stroke {
    0% {
      stroke-dasharray: 0 200;
    }
    20% {
      stroke-dasharray: 20 200;
    }
    40% {
      stroke-dasharray: 30 200;
    }
    50% {
      stroke-dasharray: 90 200;
    }
    70% {
      stroke-dasharray: 120 200;
    }
    90% {
      stroke-dasharray: 140 200;
    }
    100% {
      stroke-dasharray: 182 200;
    }
  }
  a, p {
    line-height: 1.6em;
  }

  a {
    color: #738087;
  }
  .col-body {
      margin: 5px 0px !important;
      font-size: 17px;
  }

      body, .content-wrapper, .main-footer {
          background: #8360c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .general {
          min-width: 100%;
      margin: 20px;
          padding: 0 15px !important;
          flex-grow: 0;
      max-width: 25%;
      flex-basis: 25%;
      box-sizing: border-box;
      }
    

      .main-title {
        margin: 0px 40px;
        font-size: 30px;
        color: white;
      }
      .card-style {
          background-color: #FFFFFF;
          box-shadow: 0 29px 32px -20px rgba(0,0,0,0.5), 0 4px 11px -3px rgba(0,0,0,0.25);
          padding: 20px;
          border-radius: 10px;
          margin-top: -50px;
          position: relative;
          z-index: 4;
          transition: all 0.3s ease;
          margin: 30px 40px;
          min-height: 655px;
          height: 100%;
          margin-top: 10px;
      }

      .form-group {
    position:relative;  

  
  }

  .form-group + .form-group {
      margin-top: 30px;
    }

  .form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }

  .focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
  }

  .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
    
    
  }
  .form-input:focus {
      box-shadow: 0 2px 0 0 blue;
    }

    .form-input-error {
      box-shadow: 0 2px 0 0 #ec4c48;
    }

  .form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
  }