.title-proyect {
	line-height: 50px;
    color: #fff;
    font-size: 13px;
}
.datesRange {
    text-align: center !important;
    background-color: #e8e8e86e;
    padding: 1em;
    border-radius: 1px;
    border: 1px solid #3c8dbc;
    margin: 2em;
  }

.datesRange button,.exportExcel{
    background: #24648a;
    color: white;
    border: unset;
    padding: 8px 30px;
    outline: none;
    box-shadow: 3px 2px 2px 1px #264a5f;
    transition: .3s;
}

.datesRange button:hover,.exportExcel:hover{
    background: #234d65;
    box-shadow: 3px 2px 2px 1px #306786;
}

.datesRange button:active,.exportExcel:active{
    background: #1b2f3a;
    box-shadow: 3px 1px 1px -2px #300786;
}

.datesRange button:disabled{
    background: #807979;
    box-shadow: 0px 0px 1px black;
}

.loadingInfo{
    border-bottom-left-radius: 5px;
    position: fixed;
    background: #0000009e;
    width: 24%;
    right: 0px;
    top: 0px;
    color: white;
    text-align: center;
    z-index: 10000;
    padding-bottom: 2em;
    animation: .7s aparecer ease;
    border: 1px solid black;
    border-right: unset;
    border-top: unset;
}

.loadingInfo i {
    font-size: 6em;
}

.loadingInfo span{
    display: block;
    margin-bottom: 1.5em;
    background: white;
    color: black;
    font-weight: bold;
    padding: 1em;
    word-break: break-word;
}

@keyframes aparecer {
    from{right: -35em;}
    50%{right: 3em;}
    to{right: 0px;}
}


@keyframes ocultar {
    10%{top: 4em;}
    50%{opacity: 0.3;}
    to{top: -20em;}
}

.fontInherit{
    text-align: center;
    background: #084c6f;
    color: white;
    padding: 1em;
    margin: 10px 0px;
    border-radius: 10px;
}

table thead tr th{
    text-align: center;
    padding: 4px;
}

table thead tr th span.badge{
    padding: 1px 10px;
    font-size: 16px;
    background: white;
    color: #000;
    vertical-align: bottom;
}

/* table{
    background: #084c6f;
    border: 1px solid black;
    width: 100%;
    color: white;
} */

.btn-cami_cool {
    background: transparent;
    border-radius: 0;
    border: 1px solid #084c6f;
    color: #084c6f;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 35px;
    transition: all 0.4s ease-in-out;
}
.btn-cami_cool:hover {
    background: #084c6f;
    color: #ffffff;
}
.btn-rpt_act {
    font-size: 11px;
    padding: 10px 19px 8px;
    letter-spacing: 0;
}
.btn-special{
    margin-bottom: 20px;
    margin-left: 45%;
}
